<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/Bootstrap.php"
        >
    <testsuites>
        <testsuite name="Instagram Test Case">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./tests/</directory>
        </whitelist>
        <blacklist>
            <directory>./vendor/</directory>
            <file>./vendor/autoload.php</file>
        </blacklist>
    </filter>

    <php>
        <var name="applicationId" value=""/>
        <var name="applicationSecret" value="" />
        <var name="testUserId" value="" />
        <var name="testUserAccessToken" value="" />
    </php>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>